<!DOCTYPE html>
<html lang="{{ shop.language }}">
  <head>
    {# {% include 'blocks/head.rain' %} #}
    <title>{{ page.title }} | {{ shop.name }}</title>
    <meta name="description" content="{{ shop.description }}" />
    <meta name="keywords" content="{{ shop.keywords }}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta property="fb:app_id" content="966242223397117"/>


    <link rel="shortcut icon" href="{{ 'favicon.ico' | url_asset }}" type="image/x-icon" />
    <link href='//fonts.googleapis.com/css?family={{ theme.body_google_webfonts | url_encode }}:400,300,500,600' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family={{ theme.headings_google_webfonts | url_encode }}:400,300,500,600,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{{ 'favicon.ico' | url_asset }}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ 'style.css' | url_asset }}" />
    {# <link rel="stylesheet" href="{{ 'custom.css' | url_asset }}" /> #}

    <script src="{{ 'jquery-1-9-1.js' | url_core }}"></script>
    <script src="{{ 'jquery-ui-1-10-1.js' | url_core }}"></script>
   
    <script type="text/javascript" src="{{ 'global.js' | url_asset }}"></script>

    <script type="text/javascript" src="{{ 'jcarousel.js' | url_asset }}"></script>
    <script type="text/javascript" src="{{ 'gui.js' | url_core }}"></script>
    <script type="text/javascript" src="{{ 'gui-responsive-2-0.js' | url_core }}"></script>
        
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="{{ 'style-ie.css' | url_asset }}" />
    <![endif]-->
  </head>
  <body>  
    <header class="desktop">
      <div class="navigation clearfix">
        <div class="align">
          <ul class="burger">
            <span></span>
            <span></span>
            <span></span>
          </ul>
          <div class="vertical logo">
            <a href="{{ '' | url }}" title="{{ shop.title }}">
              <img src="{{ 'logo.png' | url_asset }}" alt="{{ shop.title }}" />
            </a>
          </div>
          <div class="mobile-bounce-overlay wrapper"></div>
          <nav class="nonbounce vertical">
            <div class="nav-contents">
              <a class="header__sign-in" href="{{ 'account' | url }}" title="{{ 'My account' | t }}">
                {% if page.account %}
                {{ 'Account' | t}}              
                {% else %}
                {{ 'Sign in' | t }}
                {% endif %}
              </a>
              <div class="header-cart__wrapper">
                <a href="{{ 'cart' | url }}" title="{{ 'Cart' | t }}" class="header-cart">
                  <span class="header-cart__label">Cart</span>
                  <span class="glyphicon glyphicon-shopping-cart"></span>
                  <span class="header-cart__count">{{ page.cart.products | length }}</span>
                  <span class="header-cart__count--mobile">( {{ page.cart.products | length }} - 
                    {% if page.cart.products | length == 1 %}
                      item
                    {% else %}
                      items
                    {% endif %}
                  )</span>
                </a>   
              </div>
              {% if page.account %}
              <a href="{{ 'account/logout' | url }}" title="{{ 'Logout' | t }}" class="header__sign-out">{{ 'Logout' | t }}</a></li>
              {% endif %}

              <form action="{{ 'search' | url }}" method="get" id="formSearch">
                <input type="text" name="q" autocomplete="off"  value="{{ page.search }}"/>
                <span onclick="$('#formSearch').submit();" title="{{ 'Search' | t }}" class="glyphicon glyphicon-search"></span>
              </form>   

              <ul>
               {#  <li class="item {% if 'featured-rugs' is active %} active{% endif %}">
                  <a class="itemLink" href="{{'featured-rugs' | url }}" title="Featured Rugs">Featured</a>
                </li> #}
                {% for category in shop.categories %}
                <li class="item{% if category.subs %} sub{% endif %}{% if category.url is active %} active{% endif %}">
                  <a class="itemLink" href="{{ category.url | url }}" title="{{ category.title }}">{{ category.title }}</a>
                  {% if category.subs %}
                  <span class="glyphicon glyphicon-play"></span>
                  <ul class="subnav">
                    {% for category in category.subs %}
                    <li class="subitem">
                      <a class="subitemLink" href="{{ category.url | url }}" title="{{ category.title }}">{{ category.title }}</a>
                      {% if category.subs %}
                      <ul class="subnav">
                        {% for category in category.subs %}
                        <li class="subitem">
                          <a class="subitemLink" href="{{ category.url | url }}" title="{{ category.title }}">{{ category.title }}</a>
                        </li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                    </li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </li>
                {% endfor %}
                <li class="item sub{% if 'service/faqs' is active or 'service/about' is active or 'service/store-policies' is active %} active{% endif %}">
                  <span class="itemLink">More</span>
                  <span class="glyphicon glyphicon-play"></span>
                  <ul class="subnav">
                    {% for link in shop.links.more %}
                    <li class="subitem">
                      <a class="subitemLink" href="{{ link.url | url }}" title="{{ link.title }}">
                        {{ link.title }}
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                </li>
              </ul>
              <span class="glyphicon glyphicon-remove"></span> 
              </div> 
          </nav>
        </div>
      </div>
    </header>
    
    <div class="wrapper">
      <div class="container content">
        {% include 'snippets/messages.rain' %}
        {% include template %}
      </div>
      
      <footer>
        <div class="container">
          <div class="social row full-width">
            {# {% if theme.setting_newsletter %}
            <div class="newsletter col-xs-12 col-sm-7 col-md-7">
              <span class="title">{{ 'Sign up for our newsletter' | t }}:</span>
              <form id="formNewsletter" action="{{ 'account/newsletter' | url }}" method="post">
                <input type="hidden" name="key" value="{{ page.key }}" />
                <input type="text" name="email" id="formNewsletterEmail" value="" placeholder="{{ 'E-mail' | t }}"/>
                <a class="btn glyphicon glyphicon-send" href="#" onclick="$('#formNewsletter').submit(); return false;" title="{{ 'Subscribe' | t }}" {% if shop.language == 'de' %}style="padding: 0px 10px;"{% endif %}><span>{{ 'Subscribe' | t }}</span></a>
              </form>
            </div>
            {% endif %} #}
    {% if theme.social_facebook or theme.social_twitter or theme.social_google or theme.social_instagram or theme.social_pinterest or theme.social_youtube or theme.social_linkedin %}
            <div class="social-media col-xs-12 col-md-12 {% if theme.setting_newsletter %} col-sm-5 col-md-5 text-right{% else %} text-center{% endif %}">
              {% if theme.social_facebook %}<a href="{{ theme.social_facebook }}" class="fa fa-facebook" target="_blank" title="Facebook"></a>{% endif %}
              
              {# {% if theme.social_google %}<a href="{{ theme.social_google }}" class="social-icon google" target="_blank"></a>{% endif %} #}
              <a target="_blank" href="https://www.houzz.com/pro/artisanrugs/artisan-rug-gallery" title="Houzz"><i class="fa fa-houzz"></i></a>
              {% if theme.social_pinterest %}<a href="{{ theme.social_pinterest }}" class="fa fa-pinterest" target="_blank" title="Pinterest"></a>{% endif %}
              {% if theme.social_twitter %}<a href="{{ theme.social_twitter }}" class="fa fa-twitter" target="_blank" title="Twitter"></a>{% endif %}
              {% if theme.social_instagram %}<a href="{{ theme.social_instagram }}" class="fa fa-instagram" target="_blank" title="Instagram {{ shop.name }}"></a>{% endif %}              
            </div>
            {% endif %}
          </div>
          <div class="links row">
            <div class="col-xs-12 col-sm-2">
                <label class="collapse" for="_1">
                  <strong>{{ 'Info' | t }}</strong>
                  <span class="glyphicon glyphicon-chevron-down hidden-sm hidden-md hidden-lg"></span></label>
                    <input class="collapse_input hidden-md hidden-lg hidden-sm" id="_1" type="checkbox">
                    <div class="list">
  
                  <ul class="no-underline no-list-style">
                        {% for link in shop.links.service %}
                        <li><a href="{{ link.url | url }}" title="{{ link.title }}" {% if link.new_window %} target="_blank" {% endif %}>{{ link.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                  </div> 
             
            </div>     
       
            
            <div class="col-xs-12 col-sm-2">
          <label class="collapse" for="_2">
                  <strong>{{ 'Products' | t }}</strong>
                  <span class="glyphicon glyphicon-chevron-down hidden-sm hidden-md hidden-lg"></span></label>
                    <input class="collapse_input hidden-md hidden-lg hidden-sm" id="_2" type="checkbox">
                    <div class="list">
              <ul>
                <li><a href="{{ 'collection/?sort=newest' | url }}" title="{{ 'New products' | t }}">{{ 'New products' | t }}</a></li>
                <li><a href="{{ 'collection/offers' | url }}" title="{{ 'Offers' | t }}">{{ 'Offers' | t }}</a></li>
                {# {% if theme.setting_brands %}{% if shop.brands %}<li><a href="{{ 'brands' | url }}" title="{{ 'Brands' | t }}">{{ 'Brands' | t }}</a></li>{% endif %}{% endif %} #}
                {% if shop.tags %}<li><a href="{{ 'tags' | url }}" title="{{ 'Tags' | t }}">{{ 'Tags' | t }}</a></li>{% endif %}
                <li><a href="{{ 'index.rss' | url }}" title="{{ 'RSS feed' | t }}">{{ 'RSS feed' | t }}</a></li>
              </ul>
            </div>
            </div>
            
            <div class="col-xs-12 col-sm-2">
              <label class="collapse" for="_3">
                  <strong>
                {{ 'Account' | t }}
              </strong>
                  <span class="glyphicon glyphicon-chevron-down hidden-sm hidden-md hidden-lg"></span></label>
                    <input class="collapse_input hidden-md hidden-lg hidden-sm" id="_3" type="checkbox">
                    <div class="list">
            
           
              <ul>
                {% if page.account %}
                <li><a href="{{ 'account' | url }}" title="{{ 'My account' | t }}">{{ 'My account' | t }}</a></li>
                {% else %}
                <li><a href="{{ 'account' | url }}" title="{{ 'Register' | t }}">{{ 'Register' | t }}</a></li>
                {% endif %}
                <li><a href="{{ 'account/orders' | url }}" title="{{ 'My orders' | t }}">{{ 'My orders' | t }}</a></li>
                {% if shop.settings.account.tickets %}
                <li><a href="{{ 'account/tickets' | url }}" title="{{ 'My tickets' | t }}">{{ 'My tickets' | t }}</a></li>
                {% endif %}
                <li><a href="{{ 'account/wishlist' | url }}" title="{{ 'My wishlist' | t }}">{{ 'My wishlist' | t }}</a></li>
                {% if page.account %}
                <li><a href="{{ 'account/logout' | url }}" title="{{ 'Logout' | t }}">{{ 'Logout' | t }}</a></li>
                {% endif %}
              </ul>
            </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <label class="collapse footer-contact__collapse" for="_4">
                <strong>{{ 'Contact info' | t }}</strong>
                <span class="glyphicon glyphicon-chevron-down hidden-sm hidden-md hidden-lg"></span>
              </label>
              <input class="collapse_input hidden-md hidden-lg hidden-sm" id="_4" type="checkbox">
              <div class="list clearfix">

                <div class="footer-contact">
                  <div class="footer-contact__title">Jeff Deutsch</div>
                  <div class="footer-contact__info">
                    <div>Shops at 9th | 899 N. Broadway</div>
                    <div>Denver, CO 80203</div>
                    <div class="footer-phone"><span class="glyphicon glyphicon-earphone"></span><span>(303) 825 - 0064</span></div>
                    <a href="mailto:jeff@artisanruggallery.com" title="Email Jeff"><span class="glyphicon glyphicon-envelope"></span>jeff@artisanruggallery.com</a>
                  </div>
                </div>
                <div class="footer-contact">
                  <div class="footer-contact__title">Nikki Pulitzer</div>
                  <div class="footer-contact__info">
                    <div>311 Elk Ave</div>
                    <div>Crested Butte, CO 81224</div>
                    <div class="footer-phone"><span class="glyphicon glyphicon-earphone"></span><span>(970) 349 - 0116</span></div>
                    <a href="mailto:nikki@artisanruggallery.com" title="Email Nikki"><span class="glyphicon glyphicon-envelope"></span>nikki@artisanruggallery.com</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="container">
            <div class="row">
              <div class="footer-bottom__menu">
                <a href="{{ 'service/store-policies' | url }}">Store policies</a>
                <a href="{{ 'service' | url }}">Contact Us</a>
                <a href="{{ 'sitemap' | url }}">sitemap</a>
              </div>
              <div class="copyright">
                ©{{ 'Copyright' | t }} {{ 'now' | date('Y') }} {{ shop.name }} 
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    {# {% include 'blocks/body.rain' %} #}
  </body>

</html>